<div class="tech">
    <br><br><br>
    <h1>TECHNOLOGIES</h1>
  <!-- <P>
    Backend:<br>
    1.Java 8 - Core <br>
    2.Spring Boot/ Spring Batch<br>
    3.Spring WebFlux<br>
    4.R2DBC for SQL Connectivity<br>
    5.MS SQL DB<br>
    6.Apache Kafka - Messaging, Streaming<br>
    7.Apache Spark(Java)<br>
    8.Spring Cloud Config - Externalized/Dynamic config<br>
    9.Azure Key Vault - Persist secrets<br>
    10.Junit/Mockito - Unit testing<br>
    11.DB → ETL → Snowflake (Operational reports)<br>
    12.Apache Maven - Build/Dependency mgmt<br><br><br>
           
    Frontend:<br>
    1.Angular 8.x - JS framework<br>
    2.HTML<br>
    3. TypeScript<br>
    4. Built-in build tools<br>
    5.Webpack module bundler<br>
    6. minification <br>
    7.NodeJS - HTTP server, JS runtime<br>
    8.Karma - Test runner framework<br>
    9.Mocha - BDD/TDD assertion framework for Node/Browser<br>
    10.Chai - JS test framework<br>
    11.Store API Feature flag - Externalized/Dynamic config<br><br><br>
    
    CI / CD:<br>
    1.Jenkins<br>
    2.Sonar - Code quality, coverage (with build breakers)<br>
    3.VeraCode - Code security<br>
    4.Single branching using git/GitHub (with code dormancy using feature flags)<br>
    5.Cucumber - BDD framework<br>
    6.Polaris Framework/RestAssured -  To test REST services<br>
    7.TestNG - using only for parallel test execution<br>
    8.Selenium - Multi-browser test framework (headless and headful)<br><br><br>
    
    Runtime:<br>
    1.Azure Cloud Platform<br>
    2.PCF (will migrate to K8 eventually) - Containerization, Auto Scale up/down, <br>
    Blue/Green deploy, Resiliency, DR, ++<br>
    4.App Dynamics - APM<br>
    5.Azure Log Analytics<br>
    6.Azure APIM<br>
  </P> -->
  <div class="line"> 
  <h2 class='lineUp'> Backend:  <br></h2>
  <h2 class='lineUp'>  1.Java 8 - Core <br></h2>

  <h2 class='lineUp'> 2.Spring Boot/ Spring Batch  <br></h2>
  <h2 class='lineUp'>  3.Spring WebFlux <br></h2>
  <h2 class='lineUp'> 4.R2DBC for SQL Connectivity <br></h2>
  <h2 class='lineUp'> 5.MS SQL DB  <br></h2>
  <h2 class='lineUp'>6.Apache Kafka - Messaging, Streaming  <br></h2>
  <h2 class='lineUp'> 7.Apache Spark(Java) <br></h2>
  <h2 class='lineUp'>   8.Spring Cloud Config - Externalized/Dynamic config<br></h2>
  <h2 class='lineUp'> 9.Azure Key Vault - Persist secrets <br></h2>
  <h2 class='lineUp'>10.Junit/Mockito - Unit testing  <br></h2>
  <h2 class='lineUp'>  11.DB → ETL → Snowflake (Operational reports)  <br></h2>
  <h2 class='lineUp'> 12.Apache Maven - Build/Dependency mgmt  <br></h2><br><br>



  <h2 class='lineUp'>Frontend:  <br></h2>
  <h2 class='lineUp'>  1.Angular 8.x - JS framework <br></h2>
  <h2 class='lineUp'>2.HTML  <br></h2>
  <h2 class='lineUp'> 3. TypeScript <br></h2>
  <h2 class='lineUp'>4. Built-in build tools  <br></h2>
  <h2 class='lineUp'>5.Webpack module bundler  <br></h2>
  <h2 class='lineUp'> 6. minification <br></h2>
  <h2 class='lineUp'>7.NodeJS - HTTP server, JS runtime  <br></h2>
  <h2 class='lineUp'>  8.Karma - Test runner framework <br></h2>
  <h2 class='lineUp'> 9.Mocha - BDD/TDD assertion framework for Node/Browser <br></h2>
  <h2 class='lineUp'>  10.Chai - JS test framework <br></h2>
  <h2 class='lineUp'> 11.Store API Feature flag - Externalized/Dynamic config <br></h2><br><br>


  <h2 class='lineUp'> CI / CD: <br></h2>
  <h2 class='lineUp'>  1.Jenkins <br></h2>
  <h2 class='lineUp'>2.Sonar - Code quality, coverage (with build breakers)  <br></h2>
  <h2 class='lineUp'> 3.VeraCode - Code security  <br></h2>
  <h2 class='lineUp'> 4.Single branching using git/GitHub (with code dormancy using feature flags) <br></h2>
  <h2 class='lineUp'> 5.Cucumber - BDD framework <br></h2>
  <h2 class='lineUp'>6.Polaris Framework/RestAssured -  To test REST services  <br></h2>
  <h2 class='lineUp'> 7.TestNG - using only for parallel test execution <br></h2>
  <h2 class='lineUp'> 8.Selenium - Multi-browser test framework (headless and headful) <br></h2><br><br>


  <h2 class='lineUp'>  Runtime: <br></h2>
  <h2 class='lineUp'>   1.Azure Cloud Platform<br></h2>
  <h2 class='lineUp'> 2.PCF (will migrate to K8 eventually) - Containerization, Auto Scale up/down, <br>
    Blue/Green deploy, Resiliency, DR, ++ <br></h2>
  <h2 class='lineUp'> 3.App Dynamics - APM <br></h2>
  <h2 class='lineUp'>   4.Azure Log Analytics<br></h2>
  <h2 class='lineUp'>5. Azure APIM <br></h2>
 

  </div>
  </div>
