
<!-- new page -->
<div style="margin-top: -100px">
  <div class="container">
    
    <h3 style="text-align: center;text-decoration: underline;">ECOM Domain</h3>
    <div class="row text-center" style="padding: 40px">
      <!-- Team item -->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
        
          <a class="a" href="catalogue" style="text-decoration: none">
            <h5 class="mb-0">Cart & Checkout</h5></a
          >
          <br />

          <a class="a" target="_blank" href="https://docs.google.com/spreadsheets/d/1pEbi41lpRQbqFCLxXUgao97w3zEnjtyNAM16pDNms4A/edit#gid=115447749"
            ><span class="small text-uppercase">People</span></a
          >
          <br />
          <a class="a" href="techstackcatalog">
            <span class="small text-uppercase">Techstack</span><br
          /></a>
          <!-- <span class="small text-uppercase">POC</span><br /> -->
          <a class="a" target="_blank" href="https://drive.google.com/drive/folders/1uv2Hjpa86SLeMzn2u3GXlUGn-P5ZmmXG"
            ><span class="small text-uppercase">Documents</span><br
          /></a>
          <br>
          <br>
        </div>
      </div>
      <!-- End -->

      <!-- Team item -->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
         
         
          <a class="a" href="octx" style="text-decoration: none">
            <h5 class="mb-0">Omni Channel Taxation (OCTX)</h5>
          </a>
          
          <a class="a"  target="_blank" href="https://docs.google.com/spreadsheets/d/1pEbi41lpRQbqFCLxXUgao97w3zEnjtyNAM16pDNms4A/edit#gid=0">
           <br>
            <span class="small text-uppercase">People</span></a
          >
          <br />
          <a class="a" href="techstackcatalog">

          <span class="small text-uppercase">Techstack</span><br /></a>
          <!-- <span class="small text-uppercase">POC</span><br /> -->
          <a class="a" target="_blank" href="https://drive.google.com/drive/folders/1KUc_fhG70wWStn5c9STfLugythj_qi1T">
         
          <span class="small text-uppercase">Documents</span></a><br />
        <br>
       
        </div>
      </div>
      <!-- End -->

      <!-- Team item -->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
         
          <a class="a" href="ospg"> <h5 class="mb-0">Online Shopping Payment Gateway(OSPG)</h5></a>
         
          <a class="a" target="_blank" href="https://docs.google.com/spreadsheets/d/1pEbi41lpRQbqFCLxXUgao97w3zEnjtyNAM16pDNms4A/edit#gid=473329768">
          <br>
          <span class="small text-uppercase">People</span></a>
          <br />
          <a class="a" href="techstackcatalog">

          <span class="small text-uppercase">Techstack</span><br /></a>
          <!-- <span class="small text-uppercase">POC</span><br /> -->
          <a class="a" target="_blank" href="https://drive.google.com/drive/folders/1MMi0pWyBFI5ir0ISW2Bol3zuOPEtjQ11">

          <span class="small text-uppercase">Documents</span><br /></a>
        
   
        </div>
      </div>
      <!-- End -->

      <!-- Team item -->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
         
          <a class="a" href="store-mobility"><h5 class="mb-0">Store Mobility</h5></a>
          <br />
          <a class="a" target="_blank" href="https://docs.google.com/spreadsheets/d/1pEbi41lpRQbqFCLxXUgao97w3zEnjtyNAM16pDNms4A/edit#gid=475400508">
            
          <span class="small text-uppercase">People</span></a>
          <br />
          <a class="a" href="techstackcatalog">

          <span class="small text-uppercase">Techstack</span><br /></a>
          <!-- <span class="small text-uppercase">POC</span><br /> -->
          <a class="a" target="_blank" href="https://drive.google.com/drive/folders/1XLDeELR6HlAx_a38UkgrNIfrsGG-SqV_">

          <span class="small text-uppercase">Documents</span><br /></a>
          <br>
          <br>
        </div>
      </div>
      <!-- End -->     
    </div>
  </div>
</div>

<!-- new page -->
<div style="margin-top: 100px">
  <div class="container">
    <h3 style="text-align: center;text-decoration: underline;">Fulfilment Domain</h3>
    <div class="row text-center" style="padding: 40px">
      <!-- Team item -->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
        
          <a class="a" href="acupick" style="text-decoration: none">
            <h5 class="mb-0">AcuPick</h5></a
          >
          <br />
          <a class="a" target="_blank" href="https://docs.google.com/spreadsheets/d/1pEbi41lpRQbqFCLxXUgao97w3zEnjtyNAM16pDNms4A/edit#gid=1591561845">

          <span class="small text-uppercase">People</span></a
          >
          <br />
          <a class="a" href="techstackcatalog">
            <span class="small text-uppercase">Techstack</span><br
          /></a>
          <!-- <span class="small text-uppercase">POC</span><br /> -->
          <a class="a" target="_blank" href="https://drive.google.com/drive/folders/1sv_mCsLG6x-WPIW6BEnOMv7Q7gm5pFjP">
          
            <span class="small text-uppercase">Documents</span><br
          /></a>
          <br> <br>
        </div>
      </div>
      <!-- End -->

      <!-- Team item -->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
         
          <a class="a" href="control-tower"><h5>Control Tower</h5></a>
          <br>
          <a class="a" target="_blank" href="https://docs.google.com/spreadsheets/d/1pEbi41lpRQbqFCLxXUgao97w3zEnjtyNAM16pDNms4A/edit#gid=1785097822">
          
            <span class="small text-uppercase">People</span></a
          >
          <br />
          <a class="a" href="techstackcatalog">

          <span class="small text-uppercase">Techstack</span><br /></a>
          <!-- <span class="small text-uppercase">POC</span><br /> -->
          <a class="a" target="_blank" href="https://drive.google.com/drive/folders/1XMVkRU8yQil7dsQyndWpSRGhwielQPVD">
          <span class="small text-uppercase">Documents</span></a><br /><br> <br>
        </div>
      </div>
      <!-- End -->

      <!-- Team item -->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
         
          <a class="a" href="doms"> <h5 class="mb-0">Digital Order Management System (DOMS)</h5></a>
        <br>
        <a class="a" target="_blank" href="https://docs.google.com/spreadsheets/d/1pEbi41lpRQbqFCLxXUgao97w3zEnjtyNAM16pDNms4A/edit#gid=68892603">

          <span class="small text-uppercase">People</span></a>
          <br />
          <a class="a" href="techstackcatalog">

          <span class="small text-uppercase">Techstack</span></a><br />
          <!-- <span class="small text-uppercase">POC</span><br /> -->
          <a class="a" target="_blank" href="https://drive.google.com/drive/folders/1aIAJatOUkffu3ek4IRZDcF4EOwE3gbc-">

          <span class="small text-uppercase">Documents</span></a><br />
   
        </div>
      </div>
      <!-- End -->
    </div>
  </div>
</div>


<!-- new page -->
<div style="margin-top: 100px">
  <div class="container">
    <br>
    <h3 style="text-align: center;text-decoration: underline;"> Loyalty Domain</h3>
    <div class="row text-center" style="padding: 40px">
      <!-- Team item -->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
        
          <a class="a" href="b4u" style="text-decoration: none">
            <h5 class="mb-0">Banners For You (B4U)</h5></a
          >
          <br />
          <a class="a" target="_blank" href="https://docs.google.com/spreadsheets/d/1pEbi41lpRQbqFCLxXUgao97w3zEnjtyNAM16pDNms4A/edit#gid=839544033">

          <span class="small text-uppercase">People</span></a
          >
          <br />
          <a class="a" href="techstackcatalog">
            <span class="small text-uppercase">Techstack</span><br
          /></a>
          <!-- <span class="small text-uppercase">POC</span><br /> -->
          <a class="a" target="_blank" href="https://drive.google.com/drive/folders/1rzy7fc-DFZw0LSy3x7MTIUiiVTivlzs2">

         <span class="small text-uppercase">Documents</span><br
          /></a>
        </div>
      </div>
      <!-- End -->

      <!-- Team item -->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
         
          <a class="a" href="freshpass"><h5>FreshPass</h5></a>
          <br />
          <a class="a" target="_blank" href="https://docs.google.com/spreadsheets/d/1pEbi41lpRQbqFCLxXUgao97w3zEnjtyNAM16pDNms4A/edit#gid=1351729922">
          
            <span class="small text-uppercase">People</span></a
          >
          <br />
          <a class="a" href="techstackcatalog">

          <span class="small text-uppercase">Techstack</span></a><br />
          <!-- <span class="small text-uppercase">POC</span><br /> -->
          <a class="a" target="_blank" href="https://drive.google.com/drive/folders/1AojXyU_zG_KSR4Mo59G4vS71y8t4YgYy">

          <span class="small text-uppercase">Documents</span></a><br />
        </div>
      </div>
      <!-- End -->

      <!-- Team item -->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
         
          <a class="a" href="gamification"> <h5 class="mb-0">Gamification</h5></a>
          <br />
          <a class="a" target="_blank" href="https://docs.google.com/spreadsheets/d/1pEbi41lpRQbqFCLxXUgao97w3zEnjtyNAM16pDNms4A/edit#gid=47303420">
          <span class="small text-uppercase">People</span></a>
          <br />
          <a class="a" href="techstackcatalog">
          <span class="small text-uppercase">Techstack</span></a><br />
          <!-- <span class="small text-uppercase">POC</span><br /> -->
          <a class="a" target="_blank" href="https://drive.google.com/drive/folders/1HAEnlDGGLGRlePDjBwprHsGeg3TduEQ4">
          <span class="small text-uppercase">Documents</span></a><br />
        </div>
      </div>
      <!-- End -->

      <!-- Team item -->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
         
          <a class="a" href="rewards"><h5 class="mb-0">Rewards</h5></a>
          <br />
          <a class="a" target="_blank" href="https://docs.google.com/spreadsheets/d/1pEbi41lpRQbqFCLxXUgao97w3zEnjtyNAM16pDNms4A/edit#gid=1730670711">
          <span class="small text-uppercase">People</span></a>
          <br />
          <a class="a" href="techstackcatalog">
          <span class="small text-uppercase">Techstack</span></a><br />
          <!-- <span class="small text-uppercase">POC</span><br /> -->
          <a class="a" target="_blank" href="https://drive.google.com/drive/folders/1mr-OBMpAd2_1VnGCv7pyApS1d3vpFqZU">
          <span class="small text-uppercase">Documents</span></a><br />
        </div>
      </div>
      <!-- End -->
    </div>
  </div>
</div>



<!-- new page -->
<div style="margin-top: 100px">
  <div class="container">
    <br><br>
    <h3 style="text-align: center;text-decoration: underline;">Marketing  &  Merchandizing Domain</h3><br>
    <div class="row text-center" style="padding: 40px">
      <!-- Team item -->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
        
          <a class="a" href="ccms" style="text-decoration: none">
            <h5 class="mb-0">Customer Communications  (CCMS)</h5></a
          >
          <br>

          <a class="a" target="_blank" href="https://docs.google.com/spreadsheets/d/1pEbi41lpRQbqFCLxXUgao97w3zEnjtyNAM16pDNms4A/edit#gid=1354188379">
         
            <span class="small text-uppercase">People</span></a
          >
          <br />
          <a class="a" href="techstackcatalog">
            <span class="small text-uppercase">Techstack</span><br
          /></a>
          <!-- <span class="small text-uppercase">POC</span><br /> -->
          <a class="a" target="_blank" href="https://drive.google.com/drive/folders/10_jhjZN-qRcFbsPHtJuEhXzqYIcIBnOq">

          <span class="small text-uppercase">Documents</span>
          </a>
        </div>
      </div>
      <!-- End -->

      <!-- Team item -->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
          
          <a class="a" href="epe"><h5>Enterprise Promotion Engine  (EPE)</h5></a>
          <br />
          <a class="a" target="_blank" href="https://docs.google.com/spreadsheets/d/1pEbi41lpRQbqFCLxXUgao97w3zEnjtyNAM16pDNms4A/edit#gid=789599851">
          
            <span class="small text-uppercase">People</span></a
          >
          <br />
          <a class="a" href="techstackcatalog">

          <span class="small text-uppercase">Techstack</span></a><br />
          <!-- <span class="small text-uppercase">POC</span><br /> -->
          <a class="a" target="_blank" href="https://drive.google.com/drive/folders/1p0iAZYo_fvS1JEo2ayP8oC8jA6fJHpzF">

          <span class="small text-uppercase">Documents</span></a><br /><br>
        </div>
      </div>
      <!-- End -->

      <!-- Team item -->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
         
          <a class="a" href="oms"> <h5 class="mb-0">Offer Management System  (OMS)</h5></a>
          <br />
          <a class="a" target="_blank" href="https://docs.google.com/spreadsheets/d/1pEbi41lpRQbqFCLxXUgao97w3zEnjtyNAM16pDNms4A/edit#gid=1971563776">

          <span class="small text-uppercase">People</span></a>
          <br />
          <a class="a" href="techstackcatalog">

          <span class="small text-uppercase">Techstack</span></a><br />
          <!-- <span class="small text-uppercase">POC</span><br /> -->
          <a class="a" target="_blank" href="https://drive.google.com/drive/folders/165ZGvxm44ED6cQtU15EoVC-Tiw4xWsgZ">

          <span class="small text-uppercase">Documents</span></a><br /><br>
   
        </div>
      </div>
      <!-- End -->

      <!-- Team item -->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
         
          <a class="a" href="pricing"><h5 class="mb-0">Unified Pricing Platform  (Base Pricing)</h5></a>
          <br />
          <a class="a" target="_blank" href="https://docs.google.com/spreadsheets/d/1pEbi41lpRQbqFCLxXUgao97w3zEnjtyNAM16pDNms4A/edit#gid=795967294">

          <span class="small text-uppercase">People</span></a>
          <br />
          <a class="a" href="techstackcatalog">

          <span class="small text-uppercase">Techstack</span></a><br />
          <!-- <span class="small text-uppercase">POC</span><br /> -->
          <a class="a" target="_blank" href="https://drive.google.com/drive/folders/1YSi_3ddiRwSQq2VbfbTFfdNn2iizDtLS">

          <span class="small text-uppercase">Documents</span></a><br /><br>
        </div>
      </div>
      <!-- End -->

      <!-- Team item -->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
        
          <a class="a" href="upp"><h5 class="mb-0">Unified Promotion Platform (UPP)</h5></a>
          <br />
          <a class="a" target="_blank" href="https://docs.google.com/spreadsheets/d/1pEbi41lpRQbqFCLxXUgao97w3zEnjtyNAM16pDNms4A/edit#gid=911340885">

          <span class="small text-uppercase">People</span></a>
          <br />
          <a class="a" href="techstackcatalog">

          <span class="small text-uppercase">Techstack</span></a><br />
          <!-- <span class="small text-uppercase">POC</span><br /> -->
          <a class="a" target="_blank" href="https://drive.google.com/drive/folders/1_xZOJdBimMwv7p1tRrUnzSG0HHP5UoRt">

          <span class="small text-uppercase">Documents</span></a><br />
        </div>
      </div>
      <!-- End -->

    </div>
  </div>
</div>



<!-- new page -->
<div style="margin-top: 100px">
  <div class="container">
    <br>
    <h3 style="text-align: center;text-decoration: underline;">Shopper Experience Portfolio</h3>
    <div class="row text-center" style="padding: 40px">
      <!-- Team item -->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
        
          <a class="a" href="catalog-marketplace" style="text-decoration: none">
            <h5 class="mb-0">Catalog Marketplace</h5></a
          >
          <br />
          <a class="a" target="_blank" href="https://docs.google.com/spreadsheets/d/1pEbi41lpRQbqFCLxXUgao97w3zEnjtyNAM16pDNms4A/edit#gid=2067897108">

          <span class="small text-uppercase">People</span></a
          >
          <br />
          <a class="a" href="techstackcatalog">
            <span class="small text-uppercase">Techstack</span><br
          /></a>
          <!-- <span class="small text-uppercase">POC</span><br /> -->
          <a class="a" target="_blank" href="https://drive.google.com/drive/folders/1JegZsJouAXwu0Q1gk9zBmfXNa6ey0vHT">

         <span class="small text-uppercase">Documents</span><br
          /></a>
        </div>
      </div>
      <!-- End -->

      <!-- Team item -->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
         
          <a class="a" href="catalog-richness"><h5>Catalog Richness</h5></a>
          <br />
          <a class="a" target="_blank" href="https://docs.google.com/spreadsheets/d/1pEbi41lpRQbqFCLxXUgao97w3zEnjtyNAM16pDNms4A/edit#gid=534074081">
          
            <span class="small text-uppercase">People</span></a
          >
          <br />
          <a class="a" href="techstackcatalog">

          <span class="small text-uppercase">Techstack</span></a><br />
          <!-- <span class="small text-uppercase">POC</span><br /> -->
          <a class="a" target="_blank" href="https://drive.google.com/drive/folders/1gFly8Z-ox0Xz5GKAMrM4fmv2kBvuUALO">

          <span class="small text-uppercase">Documents</span></a><br />
        </div>
      </div>
      <!-- End -->

      <!-- Team item -->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
         
          <a class="a" href="customer-reviews"> <h5 class="mb-0">Customer Reviews</h5></a>
          <br />
          <a class="a" target="_blank" href="https://docs.google.com/spreadsheets/d/1pEbi41lpRQbqFCLxXUgao97w3zEnjtyNAM16pDNms4A/edit#gid=1825723456">

          <span class="small text-uppercase">People</span></a>
          <br />
          <a class="a" href="techstackcatalog">

          <span class="small text-uppercase">Techstack</span></a><br />
          <!-- <span class="small text-uppercase">POC</span><br /> -->
          <a class="a" target="_blank" href="https://drive.google.com/drive/folders/12vlMImZYJlfWBIiAWsjHxPrfLzN6kFF3">

          <span class="small text-uppercase">Documents</span></a><br />
   
        </div>
      </div>
      <!-- End -->

      <!-- Team item -->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
         
          <a class="a" href="engineering-excellence"><h5 class="mb-0">Engineering Excellence</h5></a>
          <br />
          <a class="a" target="_blank" href="https://docs.google.com/spreadsheets/d/1pEbi41lpRQbqFCLxXUgao97w3zEnjtyNAM16pDNms4A/edit#gid=1630420111">

          <span class="small text-uppercase">People</span></a>
          <br />
          <a class="a" href="techstackcatalog">

          <span class="small text-uppercase">Techstack</span></a><br />
          <!-- <span class="small text-uppercase">POC</span><br /> -->
          <a class="a" target="_blank" href="https://drive.google.com/drive/folders/1b2l9HU-Dhumt3PzeKuSa5jEu_db-Oo4V">

          <span class="small text-uppercase">Documents</span></a><br />
        </div>
      </div>
      <!-- End -->

      <!-- Team item -->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
        
          <a class="a" href="in-store-parity"><h5 class="mb-0">In-Store Parity</h5></a>
          <br />
          <a class="a" target="_blank" href="https://docs.google.com/spreadsheets/d/1pEbi41lpRQbqFCLxXUgao97w3zEnjtyNAM16pDNms4A/edit#gid=557904639">

          <span class="small text-uppercase">People</span></a>
          <br />
          <a class="a" href="techstackcatalog">

          <span class="small text-uppercase">Techstack</span></a><br />
          <!-- <span class="small text-uppercase">POC</span><br /> -->
          <a class="a" target="_blank" href="https://drive.google.com/drive/folders/1Ro-lhahJozCQ16WdRkgoPRnhQoUpdL41">

          <span class="small text-uppercase">Documents</span></a><br /><br>
        </div>
      </div>
      <!-- End -->

      <!-- Team item -->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
       
          <a class="a" href="inventory-accuracy"><h5 class="mb-0">Inventory Accuracy</h5></a>
          <br />
          <a class="a" target="_blank" href="https://docs.google.com/spreadsheets/d/1pEbi41lpRQbqFCLxXUgao97w3zEnjtyNAM16pDNms4A/edit#gid=1832369158">

          <span class="small text-uppercase">People</span></a>
          <br />
          <a class="a" href="techstackcatalog">

          <span class="small text-uppercase">Techstack</span></a><br />
          <!-- <span class="small text-uppercase">POC</span><br /> -->
          <a class="a" target="_blank" href="https://drive.google.com/drive/folders/1Q_c6v4gXgc9Dm0RoolbbdJPET0xMShON">

          <span class="small text-uppercase">Documents</span></a><br /><br>
        </div>
      </div>
      <!-- End -->

      <!-- Team item -->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
         
          <a class="a" href="sns"><h5 class="mb-0">Schedule &  Save  (SnS)</h5></a>
          <br />
          <a class="a" target="_blank" href="https://docs.google.com/spreadsheets/d/1pEbi41lpRQbqFCLxXUgao97w3zEnjtyNAM16pDNms4A/edit#gid=877278230">

          <span class="small text-uppercase">People</span></a>
          <br />
          <a class="a" href="techstackcatalog">

          <span class="small text-uppercase">Techstack</span></a><br />
          <!-- <span class="small text-uppercase">POC</span><br /> -->
          <a class="a" target="_blank" href="https://drive.google.com/drive/folders/12hjzFPObahUU46B-Akfxmott2QvWOSmh">

          <span class="small text-uppercase">Documents</span></a><br /><br>
        </div>
      </div>
      <!-- End -->

      <!-- Team item -->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
       
          <a class="a" href="uca"> <h5 class="mb-0">Unified Customer Account (UCA)</h5></a>
          <br>
          <a class="a" target="_blank" href="https://docs.google.com/spreadsheets/d/1pEbi41lpRQbqFCLxXUgao97w3zEnjtyNAM16pDNms4A/edit#gid=1237199888">

          <span class="small text-uppercase">People</span></a>
          <br />
          <a class="a" href="techstackcatalog">

          <span class="small text-uppercase">Techstack</span></a><br />
          <!-- <span class="small text-uppercase">POC</span><br /> -->
          <a class="a" target="_blank" href="https://drive.google.com/drive/folders/15c299x3a78r-X0YUNTS9JatSwKciaZ33">

          <span class="small text-uppercase">Documents</span></a><br />
        </div>
      </div>
    
    </div>
  </div>
</div>




<!-- new page -->
<div style="margin-top: 100px">
  <div class="container">
    <br>
    <h3 style="text-align: center;text-decoration: underline;">Stores Domain</h3>
    <div class="row text-center" style="padding: 40px">
      <!-- Team item -->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
        
          <a class="a" href="self-help" style="text-decoration: none">
            <h5 class="mb-0">Self Help</h5></a
          >
          <br />
          <a class="a" target="_blank" href="https://docs.google.com/spreadsheets/d/1pEbi41lpRQbqFCLxXUgao97w3zEnjtyNAM16pDNms4A/edit#gid=177748513">

          <br><span class="small text-uppercase">People</span></a
          >
          <br />
          <a class="a" href="techstackcatalog">
            <span class="small text-uppercase">Techstack</span><br
          /></a>
          <!-- <span class="small text-uppercase">POC</span><br /> -->
          <a class="a" target="_blank" href="https://drive.google.com/drive/folders/1uK0yYAKZZw8c2Q2ifeKOUr5nuf7_kwy7">

          <span class="small text-uppercase">Documents</span><br
          /></a>
          
        </div>
      </div>
      <!-- End -->

      <!-- Team item -->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
         
          <a class="a" href="vpos"><h5>Virtual Point of Sale  (VPOS)</h5></a>
          <br />
          <a class="a" target="_blank" href="https://docs.google.com/spreadsheets/d/1pEbi41lpRQbqFCLxXUgao97w3zEnjtyNAM16pDNms4A/edit#gid=521196132">
         
            <span class="small text-uppercase">People</span></a
          >
          <br />
          <a class="a" href="techstackcatalog">

          <span class="small text-uppercase">Techstack</span></a><br />
          <!-- <span class="small text-uppercase">POC</span><br /> -->
          <a class="a" target="_blank" href="https://drive.google.com/drive/folders/1hj8AM5wWAmVkW75zxw6kiWhi8hLdN4Mp">

          <span class="small text-uppercase">Documents</span></a><br />
        </div>
      </div>
      <!-- End -->

      
    
    </div>
  </div>
</div>




<!-- new page -->
<div style="margin-top: 100px">
  <div class="container">
    <br>
    <h3 style="text-align: center;text-decoration: underline;">Wellness Domain</h3>
    <div class="row text-center" style="padding: 40px">
      <!-- Team item -->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
        
          <a class="a" href="pharmacy" style="text-decoration: none">
            <h5 class="mb-0">Pharmacy</h5></a
          >
          <br />
          <a class="a" target="_blank" href="https://docs.google.com/spreadsheets/d/1IzksdvBpqrE5w8ISce_sUYeGY43swLGpsi_Nu_6dho8/edit#gid=2117137288">

         <span class="small text-uppercase">People</span></a
          >
          <br />
          <a class="a" href="techstackcatalog">
            <span class="small text-uppercase">Techstack</span><br
          /></a>
          <!-- <span class="small text-uppercase">POC</span><br /> -->
          <a class="a" target="_blank" href="https://drive.google.com/drive/folders/1dMXHtiD5OcOigMHEiiB49CfMJX4nIgrB">

          <span class="small text-uppercase">Documents</span><br
          /></a>
        </div>
      </div>
      <!-- End -->
    </div>
  </div>
</div>



<!-- new page -->
<div style="margin-top: 100px">
  <div class="container">
    <br>
    <h3 style="text-align: center;text-decoration: underline;">Shared Services</h3>
    <div class="row text-center" style="padding: 40px">
      <!-- Team item -->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
        
          <a class="a" href="devops" style="text-decoration: none">
            <h5 class="mb-0">DevOps</h5></a
          >
          <br />
          <a class="a" target="_blank" href="https://docs.google.com/spreadsheets/d/1pEbi41lpRQbqFCLxXUgao97w3zEnjtyNAM16pDNms4A/edit#gid=984876708">

          <span class="small text-uppercase">People</span></a
          >
          <br />
          <a class="a" href="techstackcatalog">
            <span class="small text-uppercase">Techstack</span><br
          /></a>
          <!-- <span class="small text-uppercase">POC</span><br /> -->
          <a class="a" target="_blank" href="https://drive.google.com/drive/folders/1nUl-g54ZDtRJPoIGBMuzb3eh_Cecjuih">

          <span class="small text-uppercase">Documents</span><br
          /></a>
        </div>
      </div>
      <!-- End -->

    </div>
  </div>
</div>



<!-- new page -->
<div style="margin-top: 100px">
  <div class="container">
    
    <h3 style="text-align: center;text-decoration: underline;">Data Engineering</h3>
    <div class="row text-center" style="padding: 40px">
      <!-- Team item -->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
        
          <a class="a" href="aais" style="text-decoration: none">
            <h5 class="mb-0">AAIS (Advanced Analytics & Integrated Services)</h5></a
          >
          <br />
          <a class="a" target="_blank" href="https://docs.google.com/spreadsheets/d/1pEbi41lpRQbqFCLxXUgao97w3zEnjtyNAM16pDNms4A/edit#gid=897131120">

         <span class="small text-uppercase">People</span></a
          >
          <br />
          <a class="a" href="techstackcatalog">
            <span class="small text-uppercase">Techstack</span><br
          /></a>
          <!-- <span class="small text-uppercase">POC</span><br /> -->
          <a class="a" target="_blank" href="https://drive.google.com/drive/folders/1D434TIq2mMHIhxQlzfWutrDM3f8IiKfe">

          <span class="small text-uppercase">Documents</span><br
          /></a>
        </div>
      </div>
      <!-- End -->

      <!-- Team item -->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
         <br>
          <a class="a" href="digital-dev-ops"><h5>Digital DevOps</h5></a>
          <br /><br>
          <a class="a" target="_blank" href="https://docs.google.com/spreadsheets/d/1pEbi41lpRQbqFCLxXUgao97w3zEnjtyNAM16pDNms4A/edit#gid=340870625">
          
            <span class="small text-uppercase">People</span></a
          >
          <br />
          <a class="a" href="techstackcatalog">

          <span class="small text-uppercase">Techstack</span></a><br />
          <!-- <span class="small text-uppercase">POC</span><br /> -->
          <a class="a" target="_blank" href="https://drive.google.com/drive/folders/1P96_R1jKWGiCaHOk8Da7nF6WCiQFl-e9">

          <span class="small text-uppercase">Documents</span></a><br />
        </div>
      </div>
      <!-- End -->

    
    
    </div>
  </div>
</div>




<!-- new page -->
<div style="margin-top: 100px">
  <div class="container">
    <br>
    <h3 style="text-align: center;text-decoration: underline;">Enterprise Architecture</h3>
    <div class="row text-center" style="padding: 40px">
      <!-- Team item -->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
        
          <a class="a" href="product-integrated-tools" style="text-decoration: none">
            <h5 class="mb-0">Product Integrated Tools</h5></a
          >
          <br />
          <a class="a" target="_blank" href="https://docs.google.com/spreadsheets/d/1pEbi41lpRQbqFCLxXUgao97w3zEnjtyNAM16pDNms4A/edit#gid=187587084">

         <span class="small text-uppercase">People</span></a
          >
          <br />
          <a class="a" href="techstackcatalog">
            <span class="small text-uppercase">Techstack</span><br
          /></a>
          <!-- <span class="small text-uppercase">POC</span><br /> -->
          <a class="a" target="_blank" href="https://drive.google.com/drive/folders/19yO7tOU4_uclZMGOvIf4W_WmLSmB9x8i">

          <span class="small text-uppercase">Documents</span><br
          /></a>
        </div>
      </div>
      <!-- End -->

      
    </div>
  </div>
</div>




<!-- new page -->
<div style="margin-top: 100px">
  <div class="container">
    <br>
    <h3 style="text-align: center;text-decoration: underline;">  Retail Systems</h3>
    <div class="row text-center" style="padding: 40px">
      <!-- Team item -->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
        
          <a class="a" href="rsvi-pod1" style="text-decoration: none">
            <h5 class="mb-0">Retails Systems Vendor Integration POD1</h5></a
          >
          <br />
          <a class="a" target="_blank" href="https://docs.google.com/spreadsheets/d/1pEbi41lpRQbqFCLxXUgao97w3zEnjtyNAM16pDNms4A/edit#gid=92251100">

      <span class="small text-uppercase">People</span></a
          >
          <br />
          <a class="a" href="techstackcatalog">
            <span class="small text-uppercase">Techstack</span><br
          /></a>
          <!-- <span class="small text-uppercase">POC</span><br /> -->
          <a class="a" target="_blank" href="https://drive.google.com/drive/folders/1sHrRZI7_3zW4njBGNHdJ9gzCNxLvXdDC">

          <span class="small text-uppercase">Documents</span><br
          /></a>
        </div>
      </div>
      <!-- End -->

      <!-- Team item -->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
         
          <a class="a" href="rsvi-pod2"><h5>Retails Systems Vendor Integration POD2</h5></a>
          <br />
          <a class="a" target="_blank" href="https://docs.google.com/spreadsheets/d/1pEbi41lpRQbqFCLxXUgao97w3zEnjtyNAM16pDNms4A/edit#gid=1463030739">
          
            <span class="small text-uppercase">People</span></a
          >
          <br />
          <a class="a" href="techstackcatalog">

          <span class="small text-uppercase">Techstack</span></a><br />
          <!-- <span class="small text-uppercase">POC</span><br /> -->
          <a class="a" target="_blank" href="https://drive.google.com/drive/folders/1cbUoJT7AJVqBOi0xIOWZJa-ogRk2P40x">

          <span class="small text-uppercase">Documents</span></a><br />
        </div>
      </div>
      <!-- End -->

    
    
    </div>
  </div>
</div>




<!-- stores image -->
<div class="stores">
  <img src="../../../assets/Albertsons-companies.webp" />
</div>
