
<div class="catalog">
  <div class="waviy">
    <span style="--i:1">f</span>
    <span style="--i:2">r</span>
    <span style="--i:3">e</span>
    <span style="--i:4">s</span>
    <span style="--i:5" >h</span>
    <span style="--i:6">p</span>
    <span style="--i:7">a</span>
    <span style="--i:8">s</span>
    <span style="--i:9">s</span>
  </div>
  <!-- <h1>FreshPass</h1> -->
  <!-- <mat-card>
    <div class="head">
      <h2>More About Catalogue:</h2>
    </div>
  </mat-card> -->
  <mat-card
    style="
      margin-left: 150px;
      margin-right: 150px;
      height: 50%;
      margin-top: 50px;
    "
  >
    <div class="container text-center">
      <p>
        FreshPass is a program offered by Albertsons for all its banners that offer Grocery Delivery.
FreshPass program allows online customers to pay a monthly or annual fee and join a program, by which they will be able to enjoy unlimited grocery delivery and benefits.
Currently the FreshPass Program has 115k+ Subscribers. The FreshPass subscriber base has grown 409% since its launch in June 2021.
FreshPass offers verious features such as:<br>
	1. Personalised Savings
	2. Capability to target Audience with Discounted Plan / Extended Trial
	3. Promo code capabilities (reusable & unique)
	4. Wallet Integration - Pre-populate existing card.
      </p>
    </div>
  </mat-card>
</div>
