
<div class="catalog">
  <div class="waviy">
    <span style="--i:1">c</span>
    <span style="--i:2">o</span>
    <span style="--i:3">n</span>
    <span style="--i:4">t</span>
    <span style="--i:5" >r</span>
    <span style="--i:6">o</span>
    <span style="--i:7">l</span>&nbsp;
    <span style="--i:8">t</span>
    <span style="--i:9">o</span>
    <span style="--i:10">w</span>
    <span style="--i:11">e</span>
    <span style="--i:12">r</span>
   
   </div>
  <!-- <h1>Control Tower</h1> -->
  <!-- <mat-card>
    <div class="head">
      <h2>More About Catalogue:</h2>
    </div>
  </mat-card> -->
  <mat-card
    style="
      margin-left: 150px;
      margin-right: 150px;
      height: 50%;
      margin-top: 50px;
    "
  >
    <div class="container text-center">
      <p>
        Centralized system to monitor orders throughout the order lifecycle and generate timely alerts, to drive on-time completion of our orders (OTT/OTD).

        Control Tower will integrate with dependent systems to consume Order Events. These events will be pushed/pulled into Control Tower. It will calculate the estimated timestamp of the next order event in the lifecycle. If the event is not received by the calculated estimated timestamp, then an alert will be generated. Which will be send to the OM, DM, Store Managers.
      </p>
    </div>
  </mat-card>
</div>
