





<div class="tech">
    <br><br><br>

    <div class="line">
      <div class="one">
      <h2 class='lineUp'>BackEnd <br></h2>
      
      <h5 class='lineUp'> <a href="" class="a">CosmosDB   <br></a></h5>
  
      <h5 class='lineUp'>Kafka <br></h5>
  

<h5 class='lineUp'>Spring Boot <br></h5>

<h5 class='lineUp'>Java <br></h5>
     
    </div>
  
  
    <div class="one">
      <h2 class='lineUp'>Cloud  <br></h2>
      <h5 class='lineUp'>Azure  <br></h5>
      <h5 class='lineUp'> Pivotal Cloud Foundry  <br></h5>
     
    </div>
    <div class="one">
      <h2 class='lineUp'>FrontEnd <br></h2>
      <h5 class='lineUp'>Angular <br></h5>
      <h5 class='lineUp'> Node.js <br></h5>
     
    </div>
    
    </div>
  </div>


 
