<div class="tech">
    <br><br><br>
    <h1>TECHNOLOGIES</h1>
  <!-- <P>
    1.dfh<br>
    2.sdhdth<br>
    3.rgerg<br>
  </P> -->
  <div class="line">
    
    <h2 class='lineUp'> JDK 1.8<br></h2>
    <h2 class='lineUp'> Spark with Java  <br></h2>
    <h2 class='lineUp'> Spring Boot <br></h2>
    <h2 class='lineUp'> MongoDB <br></h2>
    <h2 class='lineUp'> Kafka <br></h2>
    <h2 class='lineUp'> Azure <br></h2>
    <h2 class='lineUp'>  Databricks <br></h2>
    <h2 class='lineUp'> Azure Keyvault<br></h2>
    <h2 class='lineUp'>  Maven <br></h2>
    <h2 class='lineUp'> Junit <br></h2>
    <h2 class='lineUp'> Git<br></h2>
    <h2 class='lineUp'> Spring Webflux <br></h2>
    <h2 class='lineUp'> Spring Data JPA <br></h2>
    <h2 class='lineUp'> Azure Sql server<br></h2>
    <h2 class='lineUp'> Junit with Mockito <br></h2>

  </div>
  </div>
