
<div class="catalog">
  <div class="waviy">
    <span style="--i:1">c</span>
    <span style="--i:2">c</span>
    <span style="--i:3">m</span>
    <span style="--i:4">s</span>
    
  </div>
  <!-- <h1>CCMS</h1> -->
  <!-- <mat-card>
    <div class="head">
      <h2>More About Catalogue:</h2>
    </div>
  </mat-card> -->
  <mat-card
    style="
      margin-left: 150px;
      margin-right: 150px;
      height: 50%;
      margin-top: 50px;
    "
  >
    <div class="container text-center">
      <p>
        CCMS services are the enterprise wide customer communication service, who handles all communications w.r.t Email, SMS and Push (in future).
        As of today, email communications related to Delivery Subscription status are published via this service.

        In few months, this service will also be used for customer order status email , Grocery Delivery status email , Registration emails, Password management emails, Registration SMS etc.
      </p>
    </div>
  </mat-card>
</div>
