<div class="tech">
    <br><br><br>
    <h1>TECHNOLOGIES</h1>
  <!-- <P>
    1.Java<br>
2.Kafka (Confluent)<br>
3.Azure SQL<br>
4.Maven<br>
5.Springboot<br>
6.Lombok<br>
7.Junit<br>
8.log4j<br>
9.Spring Cloud<br>
10.resilience4j<br>
11.r2dbc<br>
12.WebFlux<br>
13.Swagger<br>
14.Mockito<br>
  </P> -->
  <div class="line">
    
    <h2 class='lineUp'> 1.Java <br></h2>
    <h2 class='lineUp'>2.Kafka (Confluent)  <br></h2>
    <h2 class='lineUp'> 3.Azure SQL <br></h2>
    <h2 class='lineUp'> 4.Maven <br></h2>
    <h2 class='lineUp'> 5.Springboot <br></h2>
    <h2 class='lineUp'> 6.Lombok <br></h2>
    <h2 class='lineUp'>7.Junit  <br></h2>
    <h2 class='lineUp'>8.log4j  <br></h2>
    <h2 class='lineUp'> 9.Spring Cloud <br></h2>
    <h2 class='lineUp'> 10.resilience4j <br></h2>
    <h2 class='lineUp'>11.r2dbc  <br></h2>
    <h2 class='lineUp'> 12.WebFlux <br></h2>
    <h2 class='lineUp'>13.Swagger  <br></h2>
    <h2 class='lineUp'> 14.Mockito <br></h2>
   
  </div>
  </div>
