
<div class="catalog">
  <div class="waviy">
    <span style="--i:1">d</span>
    <span style="--i:2">e</span>
    <span style="--i:3">v</span>
    <span style="--i:4">o</span>
    <span style="--i:5" >p</span>
    <span style="--i:6">s</span>
  </div>
  <!-- <h1>Devops</h1> -->
  <!-- <mat-card>
    <div class="head">
      <h2>More About Catalogue:</h2>
    </div>
  </mat-card> -->
  <mat-card
    style="
      margin-left: 150px;
      margin-right: 150px;
      height: 50%;
      margin-top: 50px;
    "
  >
    <div class="container text-center">
      <p>
        A platform is a set of services on which applications can be built and run on top of. Modern platforms blur the line between infrastructure architecture and application architecture, needing to address complex issues such as service discovery, resource coordination, container orchestration and usage reporting. Platforms are best consumed through highly integrated toolchains, well defined processes, standards, and patterns, and reusable code and libraries. Our Platform Engineering Team delivers the practice of designing, building and operating the platforms and associated standards and reusable components for Application development teams to leverage.
      </p>
    </div>
  </mat-card>
</div>
