<!-- <div class="flexHead"> -->
<!-- <div>
    <header class="header">
      <a href="#" class="logo">
        <img src="../../../assets/nisum.png" />
      </a>
    </header>
  </div> -->

<div class="navbar">
  <div class="logo">
    <a href="home">
    <img src="../../../assets/nisum.png" /></a>
  </div>
  <div class="buttons">
    <button type="button" class="glow-on-hover" routerLink="home">Home</button>
    <div>
      <button
        type="button"
        class="glow-on-hover"
        button
        [matMenuTriggerFor]="belowMenu"
      >
        Clients
      </button>
      <mat-menu #belowMenu="matMenu" yPosition="below">
        <button routerLink="albertsons-main" mat-menu-item>Albertsons</button>

        <button mat-menu-item>Williams sonoma</button>
        <button mat-menu-item>Macys</button>
        <button mat-menu-item>GAP</button>
      </mat-menu>
    </div>
    <!-- <button type="button" class="btn btn-light" style="color: rgb(29, 29, 232)">
      Upload Documents
    </button> -->
    <div>
      <a
        
        target="_blank"
        style="text-decoration: none"
      >
        <button type="button" class="glow-on-hover"  button
        [matMenuTriggerFor]="belowMenul">Practice</button></a
      >
      <mat-menu #belowMenul="matMenu" yPosition="below">
       <a target="_blank" class="linkl" href="https://www.linkedin.com/learning/?u=2111049"><button mat-menu-item>Linkedln</button></a> 

        <a target="_blank" class="linkl" href="https://nisum.tovuti.io/"><button mat-menu-item>Tovuti</button></a>
        
      </mat-menu>
    </div>
    <div>
      <a target="_blank" href="https://docs.google.com/spreadsheets/d/1HX2YcE68ftu7HBA7m9HmsPGRZvzP0Xv2E4HcyEgXqKI/edit#gid=935884814">
    <button
      type="button"
      
      class="glow-on-hover"
     
     
    >
      POC
    </button></a>
    
  </div>
  


  <div>
    <a target="_blank" href="">
  <button
    type="button" class="glow-on-hover" 
     style="width:120px">Success Stories
  </button></a>

</div>

 
 




  </div>
</div>
<!-- <div class="rightHead">
    <div>
      <button routerLink="home" mat-button>Home</button>
    </div>
    <div>
      <button mat-button [matMenuTriggerFor]="belowMenu">Clients</button>
      <mat-menu #belowMenu="matMenu" yPosition="below">
        <button routerLink="albertsons-main" target="_blank" mat-menu-item>
          Albertsons
        </button>
        <button mat-menu-item>Williams sonoma</button>
        <button mat-menu-item>Macys</button>
        <button mat-menu-item>GAP</button>
      </mat-menu>
    </div>

    <div>
      <button mat-button [matMenuTriggerFor]="belowMenu1">Documents</button>
      <mat-menu #belowMenu1="matMenu" yPosition="below">
        <button routerLink="upload" mat-menu-item>Catalogue</button>

        <button mat-menu-item>Pharma</button>
        <button mat-menu-item>Loyalty</button>
        <button mat-menu-item>DOMS</button>
        <button mat-menu-item>Pricing</button>
      </mat-menu>
    </div>
    <div>
      <a
        href="https://nisum.tovuti.io/"
        target="_blank"
        style="text-decoration: none"
        ><button mat-button>Practice</button></a
      >
    </div>
  </div>
</div> -->



  