
<div class="catalog">
  <div class="waviy">
    <span style="--i:1">e</span>
    <span style="--i:2">p</span>
    <span style="--i:3">e</span>
  </div>
  <!-- <h1>EPE</h1> -->
  <!-- <mat-card>
    <div class="head">
      <h2>More About Catalogue:</h2>
    </div>
  </mat-card> -->
  <mat-card
    style="
      margin-left: 150px;
      margin-right: 150px;
      height: 50%;
      margin-top: 50px;
    "
  >
    <div class="container text-center">
      <p>
        Deals and rewards is a cornerstone of our ability to service customers better than our competitors. 
        Since 2007, we utilized Copient, an out-of-the-box solution, to create, manage, and execute our programs and 
        deliver to the customers a wide variety of offers that helps increasing the loyalty for the family of Albertsons brands.
        Using an out of box solution can be beneficial in short and mid term because it gives immediate results for the business,
         but it is limiting in the long term due to the increasing complexity and velocity of change companies are facing, 
         which requires more flexibility from the system.
         The scale of our successful programs and ever-changing consumer tastes require stability and flexibility-both of which
          Copient cannot meet our future needs.
        Creating an in-house promotion engine will provide more control and capabilities that will grow along with the business-e.g.
         capability to support omni-channel use cases - , while also addressing performance and consistency issues that impact 
         customer experience, hence decreasing the number of calls to the customer service with complaints. As a result, 
         we are building our first Enterprise Promotion Engine (“EPE”) to become our foundation to provide customers with the right 
         customer, with the right deal, at the right time. This flexibility will support our ability to be Locally Great and
          Nationally Strong. EPE will be the price calculation core for all Albertsons stores. In an integrated Omni-Channel concept,
           the EPE ensures consistent application of offers, and loyalty. The highly configurable solution is designed to handle a 
           large number of clips, price calculations across multiple channels and in (near) real time.
      </p>
    </div>
  </mat-card>
</div>
