
<div class="catalog">
  <div class="waviy">
    <span style="--i:1">u</span>
    <span style="--i:2">c</span>
    <span style="--i:3">a</span>
  </div>
  <!-- <h1>Unified Customer Account (UCA)</h1> -->
  <!-- <mat-card>
    <div class="head">
      <h2>More About Catalogue:</h2>
    </div>
  </mat-card> -->
  <mat-card
    style="
      margin-left: 150px;
      margin-right: 150px;
      height: 50%;
      margin-top: 50px;
    "
  >
    <div class="container text-center">
      <p>
        This project is rewriting of customer profile management application of Safeway, 
        using microservices architecture. Divided into smaller independently deployable services and applied microservice architecture patterns to decompose and to maintain microservices. Designed and developed event sourcing framework. Data consistency and synchronization maintained using event sourcing and messaging frameworks.
        UCA maintain customer profile (Email, phone, personal info etc) and addresses, loyalty, household, preferences, session, validation service(Email, phone and address).
      </p>
    </div>
  </mat-card>
</div>
