
<div class="catalog">
  <div class="waviy">
    <span style="--i:1">v</span>
    <span style="--i:2">p</span>
    <span style="--i:3">o</span>
    <span style="--i:4">s</span>
  </div>
  <!-- <h1>VPOS</h1> -->
  <!-- <mat-card>
    <div class="head">
      <h2>More About Catalogue:</h2>
    </div>
  </mat-card> -->
  <mat-card
    style="
      margin-left: 150px;
      margin-right: 150px;
      height: 50%;
      margin-top: 50px;
    "
  >
    <div class="container text-center">
      <p>
        VPOS:<br><br>

        VPOS (Virtual Point Of Sale), which comes under the fulfillment domain after the order picking services and staging are completed for DUG, WUG, and Delivery orders.
        VPOS communicates with the POS system for tax calculations and applies promised prices on items during order placement.
        VPOS is also responsible for triggering inventory updates on the store for reporting and reconciliation purposes on the store side. (Make sure the ECOM orders from the website are reported in-store for accounting and inventory management purposes )
        VPOS is also responsible for capturing payments and generating receipts for the customer.
        <br><br>
        DTILL:<br><br>
        As part of this new DTILL Initiative, we are planning centralize the decentralized(2350) store based tilling systems for ECOM orders across 19 banners under Albertsons umbrella
        
        Our team replaced VPOS with Digital Tilling. Digital tilling is the new centralized system where we perform all the VPOS activities from the cloud. In addition, DTILL leverages the Vertex tax system to calculate taxes based on the zip code.
        DTILL decouples the tax integration, payment capture, receipt generation, and communication with POS during the order tilling.
        DTILL is a centralized system running with 10 instances, a significant achievement coming out of 2300 instances each in a single store to 10 instances in the cloud.
        DTILL still uses the light weight in-store application for settlement purposes, which will be used during the E-com reconciliations, accounting and inventory management purposes
      </p>
    </div>
  </mat-card>
</div>
