
<div class="catalog">
  <div class="waviy">
    <span style="--i:1">r</span>
    <span style="--i:2">e</span>
    <span style="--i:3">w</span>
    <span style="--i:4">a</span>
    <span style="--i:5" >r</span>
    <span style="--i:6">d</span>
    <span style="--i:7">s</span>
  </div>
  <!-- <h1>Rewards</h1> -->
  <!-- <mat-card>
    <div class="head">
      <h2>More About Catalogue:</h2>
    </div>
  </mat-card> -->
  <mat-card
    style="
      margin-left: 150px;
      margin-right: 150px;
      height: 50%;
      margin-top: 50px;
    "
  >
    <div class="container text-center">
      <p>
        Safeway Loyalty Rewards Program is a free customer Loyalty program offered by Albertsons Companies,
         that allows the participants of the Program to receive weekly personalized deals on groceries, 
         earn points on all eligible purchases, redeem Rewards for discounts on gas and groceries.
The existing legacy EMRB/EMRBi system was migrated to the cloud and it integrates all the existing
 downstream systems in a Reactive nature.
The new Rewards program, built on Cloud based micro services,has the following advantages:
	1. Agile and flexible Rewards with configurable workflows built with spring webflux.
	2. improved performance in processing workflows, using Kafka and reactive concepts.
	3. Scalable, and resilient Rewards Deployed on cloud.
	4. Decreased cost and Time to market. Decreased build times.
	5. Cost Benefit by decommissioning legacy Rewards System, and also we will have a single master
     for Rewards data which leads to easy maintenance.
      </p>
    </div>
  </mat-card>
</div>
