<div class="tech">
    <br><br><br>
    <h1>TECHNOLOGIES</h1>
  <!-- <P>
    1.Java8<br>
    2. Spring MVC<br>
    3. Spring Boot<br>
    4. Spring Webflux<br>
    5. AngularJS 1.xx<br>
    5. ReactJS with hooks<br>
    6. Azure<br>
    7.SQL<br>
    8. Cosmos<br>
    9. Kafka<br>
  </P> -->
  <div class="line">
    
    <h2 class='lineUp'> 1.Java8 <br></h2>
    <h2 class='lineUp'> 2. Spring MVC  <br></h2>
    <h2 class='lineUp'>  3. Spring Boot <br></h2>
    <h2 class='lineUp'>  4. Spring Webflux <br></h2>
    <h2 class='lineUp'> 5.AngularJS 1.xx  <br></h2>
    <h2 class='lineUp'> 6.ReactJS with hooks <br></h2>
    <h2 class='lineUp'> 7.Azure <br></h2>
    <h2 class='lineUp'> 8.SQL <br></h2>
    <h2 class='lineUp'> 9.Cosmos <br></h2>
    <h2 class='lineUp'> 10.Kafka <br></h2>

  </div>
  </div>
