<div class="tech">
    <br><br><br>
    <h1>TECHNOLOGIES</h1>
  <!-- <P>
    1.J2EE<br>
     2.Spring Boot<br>
      3.Jenkins<br>
       4.Jira<br>
       5.Mongo DB<br>
        6.GIT<br>
         7.Kafka<br>
          8.Azure cloud<br>
          9.Spring Webflux<br>
  </P> -->
  <div class="line">
    
    <h2 class='lineUp'>1.J2EE  <br></h2>
    <h2 class='lineUp'>2.Spring Boot <br></h2>
    <h2 class='lineUp'>3.Jenkins <br></h2>
    <h2 class='lineUp'>4.Jira<br></h2>
<h2 class='lineUp'>5.Mongo DB<br></h2>
<h2 class='lineUp'>6.GIT<br></h2>
<h2 class='lineUp'>7.Kafka<br></h2>
<h2 class='lineUp'>8.Azure cloud<br></h2>
<h2 class='lineUp'>9.Spring Webflux<br></h2>
  </div>
  </div>
