
<div class="catalog">
  <div class="waviy">
    <span style="--i:1">c</span>
    <span style="--i:2">u</span>
    <span style="--i:3">s</span>
    <span style="--i:4">t</span>
    <span style="--i:5" >o</span>
    <span style="--i:6">m</span>
    <span style="--i:7">e</span>
    <span style="--i:8">r</span>
    <span style="--i:9">-</span>
    <span style="--i:10">r</span>
    <span style="--i:11">e</span>
    <span style="--i:12">v</span>
    <span style="--i:13">i</span>
    <span style="--i:14">e </span>
    <span style="--i:15">w </span>
    <span style="--i:16"> s</span>
   
   </div>
  <!-- <h1>Customer-Reviews</h1> -->
  <!-- <mat-card>
    <div class="head">
      <h2>More About Catalogue:</h2>
    </div>
  </mat-card> -->
  <mat-card
    style="
      margin-left: 150px;
      margin-right: 150px;
      height: 50%;
      margin-top: 50px;
    "
  >
    <div class="container text-center">
      <p>
        Beyond the traditional review, Customer reviews is to provide our customers with a way to engage their senses and easily navigate their shopping desires through fun, contextual customer reviews. These detailed reviews will be available for products across the shopping experience. They'll also be aggregated and displayed on the product card to provide attract interest and provide user generated feedback to help encourage purchases.
      </p>
    </div>
  </mat-card>
</div>

