<div class="tech">
    <br><br><br>
    <h1>TECHNOLOGIES</h1>
  <!-- <P>
    1.Java8<br>
    2. Spring WebFlux<br>
    3. Spring Boot<br>
    4.Rest Services<br>
    5. MongoDB<br>
    6. Microservices<br>
    7. Jenkins<br>
    8. Github<br>
    9. Gradle<br>
    10. Maven<br>
    11. GRPC<br>
    12. Kafka<br>
    13. Spark<br>
    14. Mockito<br>
    15. Junit<br>
    16. Event Sourcing<br>
    17. Lombok<br>
    18. Okta<br>
    19. JWT<br>
  </P> -->
  <div class="line">
    
    <h2 class='lineUp'> 1.Java8 <br></h2>
    <h2 class='lineUp'>2. Spring WebFlux  <br></h2>
    <h2 class='lineUp'> 3. Spring Boot <br></h2>
    <h2 class='lineUp'>4.Rest Services  <br></h2>
    <h2 class='lineUp'>  5. MongoDB <br></h2>
    <h2 class='lineUp'> 6. Microservices  <br></h2>
    <h2 class='lineUp'>  7. Jenkins <br></h2>
    <h2 class='lineUp'>8. Github  <br></h2>
    <h2 class='lineUp'> 9. Gradle <br></h2>
    <h2 class='lineUp'> 10. Maven  <br></h2>
    <h2 class='lineUp'>  11. GRPC<br></h2>
    <h2 class='lineUp'>  12. Kafka <br></h2>
    <h2 class='lineUp'> 13. Spark <br></h2>
    <h2 class='lineUp'> 14. Mockito <br></h2>
    <h2 class='lineUp'>15. Junit  <br></h2>
    <h2 class='lineUp'>16. Event Sourcing  <br></h2>
    <h2 class='lineUp'> 17. Lombok <br></h2>
    <h2 class='lineUp'> 18. Okta  <br></h2>
    <h2 class='lineUp'> 19. JWT <br></h2>

    </div>
  </div>
