
<div class="catalog">
  <div class="waviy">
    <span style="--i:1">u</span>
    <span style="--i:2">p</span>
    <span style="--i:3">p</span>
  </div>
  <!-- <h1>UPP</h1> -->
  <!-- <mat-card>
    <div class="head">
      <h2>More About Catalogue:</h2>
    </div>
  </mat-card> -->
  <mat-card
    style="
      margin-left: 150px;
      margin-right: 150px;
      height: 50%;
      margin-top: 50px;
    "
  >
    <div class="container text-center">
      <p>
        Unified Promotions Platform will be a best-in-class promotional platform creating a seamless user experience across our Merchants, Vendors from planning, forecasting, and detailing to executing promotions across store and ecommerce channels. UPP will consolidate capabilities across promotional processes by implementing a single taskbased user workflow that encompass functionality within a dozen plus promotional systems. We are building our first Unified Promotions Platform (“UPP”) that will improve promo planning and service our guests with the right deal at the right time. This will enhance our ability to be both Locally Great and Nationally Strong. UPP will be the promo planning core for all Albertsons stores. With a unified concept, UPP will ensure consistent planning across all offers and vendors that will better meet the needs of Albertsons value goals.
      </p>
    </div>
  </mat-card>
</div>
