
<div class="catalog">
  <div class="waviy">
    <span style="--i:1">u</span>
    <span style="--i:2">p</span>
    <span style="--i:3">p</span>
  </div>
  <!-- <h1>UPP</h1> -->
  <!-- <mat-card>
    <div class="head">
      <h2>More About Catalogue:</h2>
    </div>
  </mat-card> -->
  <mat-card
    style="
      margin-left: 150px;
      margin-right: 150px;
      height: 50%;
      margin-top: 50px;
    "
  >
    <div class="container text-center">
      <p>
        This platform typically includes a range of tools to help businesses create and manage their campaigns. These may include features such as audience targeting, content creation and scheduling, automated messaging, analytics and reporting, and A/B testing to measure the effectiveness of different campaign strategies.
        Integrate features of all eco workflow systems involved in Promo planning and bring simplified customer experience.
        Super fast user interface.
        Future base for in-house forecasting and recommendation system, extended access from multi platforms like Mobile.
      </p>
    </div>
  </mat-card>
</div>
