
<div class="catalog">
  <div class="waviy">
    <span style="--i:1">s</span>
    <span style="--i:2">t</span>
    <span style="--i:3">o</span>
    <span style="--i:4">r</span>
    <span style="--i:5" >e</span>&nbsp;
    <span style="--i:6">m</span>
    <span style="--i:7">o</span>
    <span style="--i:8">b</span>
    <span style="--i:9">i</span>
    <span style="--i:10">l</span>
    <span style="--i:11">i</span>
    <span style="--i:12">t</span>
    <span style="--i:13">y</span>
    
   </div>
  <!-- <h1>Store-Mobility</h1> -->
  <!-- <mat-card>
    <div class="head">
      <h2>More About Catalogue:</h2>
    </div>
  </mat-card> -->
  <mat-card
    style="
      margin-left: 150px;
      margin-right: 150px;
      height: 50%;
      margin-top: 50px;
    "
  >
    <div class="container text-center">
      <p>
        Earlier our e-Commerce store and field operations teams, from store associates to Division Directors, are only equipped with a picking software that provides only store level order information and a computer (laptop or desktop) to manage the fulfillment life-cycle. Daily planning, exception handling, pulse metrics reporting, customer order handoffs and chain wide communications are handled via traditional communication means like email, offline reports and phone calls. To further aid in increasing productivity and efficiency in managing the fulfillment operations,ACI (Albertsons Company Inc.) Product and Technology team deployed simple, easy-to-use and effective applications on iPads to support store and field operations associates.It provides the real-time data on ipads .<br><br>
Currently App provides all the information to the store/operation manager about the order handling, revenue, loss and scheduling the staff for the orders placed by customer till the order is delivered(DUG/Delivery) to customer at store, District , division and corp level.And also provides the information about the orders At Risk for a store or district or division or CORP
      </p>
    </div>
  </mat-card>
</div>
