<div class="tech">
    <br><br><br>
    <h1>TECHNOLOGIES</h1>
  <!-- <P>
    1.Java	(11)<br>
2.Postgres	(12)<br>
3.Kafka (Confluent)	PaaS<br>
4.Spark (Databricks)	PaaS<br>
5.Atlas MongoDB	(PaaS)<br>
6.Gradle	(6.0.1)<br>
7.Springboot	(2.2.7)<br>
8.Azure - DataBricks	(PaaS)<br>
9.Azure - Blob	(PaaS)<br>
10.Lombok	(1.18.22)<br>
11.Junit 5	(5.8.2)<br>
12.Rest Assured	(4.4.0)<br>
13.log4j	(2.19.0)<br>
14.Spring Cloud Contract	(2.2.2)<br>
15.Allure	(2.9.6)<br>
  </P> -->
  <div class="line">
    
    <h2 class='lineUp'> 1.Java	(11)  <br></h2>
    <h2 class='lineUp'>2.Postgres	(12)  <br></h2>

    <h2 class='lineUp'> 3.Kafka (Confluent)	PaaS <br></h2>
    <h2 class='lineUp'> 4.Spark (Databricks)	PaaS <br></h2>
    <h2 class='lineUp'> 5.Atlas MongoDB	(PaaS) <br></h2>
    <h2 class='lineUp'>6.Gradle	(6.0.1)  <br></h2>
    <h2 class='lineUp'>7.Springboot	(2.2.7)  <br></h2>
    <h2 class='lineUp'> 8.Azure - DataBricks	(PaaS) <br></h2>
    <h2 class='lineUp'> 9.Azure - Blob	(PaaS) <br></h2>
    <h2 class='lineUp'> 10.Lombok	(1.18.22) <br></h2>
    <h2 class='lineUp'> 11.Junit 5	(5.8.2) <br></h2>
    <h2 class='lineUp'> 12.Rest Assured	(4.4.0) <br></h2>
    <h2 class='lineUp'>13.log4j	(2.19.0)  <br></h2>
    <h2 class='lineUp'>  14.Spring Cloud Contract	(2.2.2)<br></h2>
    <h2 class='lineUp'> 15.Allure	(2.9.6) <br></h2>
    
  </div>
  </div>
