
<div class="catalog">
  <div class="waviy">
    <span style="--i:1">p</span>
    <span style="--i:2">r</span>
    <span style="--i:3">i</span>
    <span style="--i:4">c</span>
    <span style="--i:5" >i</span>
    <span style="--i:6">n</span>
    <span style="--i:7">g</span>
  </div>
  <!-- <h1>Pricing</h1> -->
  <!-- <mat-card>
    <div class="head">
      <h2>More About Catalogue:</h2>
    </div>
  </mat-card> -->
  <mat-card
    style="
      margin-left: 150px;
      margin-right: 150px;
      height: 50%;
      margin-top: 50px;
    "
  >
    <div class="container text-center">
      <p>
        Our ambition with Unified Pricing Platform is to provide a consistent, 
        functional and intuitive merchant experience with pricing insights and execute 
        our base price changes based on a pricing strategy
        It develops into an echo system Establish gold standard of the competitive item insights that is reliable and trustworthy.
        Unified Pricing Platform is to provide a consistent, functional, 
        and intuitive merchant experience with pricing insights and execute our base price changes based on a pricing strategy.
      </p>
    </div>
  </mat-card>
</div>
