h1 {
    text-align: center;
    font-size: 40px;
    padding-top: 50px;
    /* margin-top: 60px; */
    color:#3E54AC;
  }
  p {
    font-size: 20px;
    text-align: justify;
    margin-top: 50px;
    /* color: darkslateblue;
     */
    color: black;
    margin-left: 30px;
    margin-right: 30px;
  }
  .head {
    text-align: center;
  }
  .catalog {
    background-color: aliceblue;
    height: 110%;
    margin-top: -15px;
  }