<div class="tech">
    <br><br><br>
    <h1>TECHNOLOGIES</h1>
  <!-- <P>
    1.dfh<br>
    2.sdhdth<br>
    3.rgerg<br>
  </P> -->
  <div class="line">
    
    <h2 class='lineUp'> Spring Boot <br></h2>
    <h2 class='lineUp'> Spring Cloud <br></h2>

    <h2 class='lineUp'> Micro Services<br></h2>

    <h2 class='lineUp'> Open API <br></h2>

    <h2 class='lineUp'> Mongo DB <br></h2>
    <h2 class='lineUp'>  AKS<br></h2>
    <h2 class='lineUp'>  Java 8 <br></h2>
    <h2 class='lineUp'>Soap API <br></h2>
    <h2 class='lineUp'>kafka <br></h2>


    
  </div>
  </div>