<div class="tech">
    <br><br><br>
    <h1>TECHNOLOGIES</h1>

  <mat-card style="width:100%;">
  <div class="line">
    
    <h5 class='lineUp'> Spring Boot &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href ="https://www.linkedin.com/learning/spring-5-0-and-spring-boot-2-0-new-features?u=2111049">Click to learn<br></a> </h5>
    <h5 class='lineUp'> Spring Cloud &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <a href ="https://www.youtube.com/playlist?list=PLqq-6Pq4lTTaoaVoQVfRJPqvNTCjcTvJB">Click to learn<br></a></h5>

    <h5 class='lineUp'> Micro Services  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href ="https://www.linkedin.com/learning/microservices-foundations?contextUrn=urn%3Ali%3AlearningCollection%3A6918079800515452928&u=2111049">Click to learn<br></a></h5>

    <h5 class='lineUp'> Open API  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href ="https://docs.google.com/spreadsheets/d/1rsXvZVzY7A1krxO0N07BgDRgERiqUHP6Wvcd_wqbJnw/edit#gid=0">Click to learn<br></a></h5>

    <h5 class='lineUp'> Mongo DB &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href ="https://docs.google.com/spreadsheets/d/1rsXvZVzY7A1krxO0N07BgDRgERiqUHP6Wvcd_wqbJnw/edit#gid=0">Click to learn<br></a></h5>
    <h5 class='lineUp'>  AKS &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href ="https://docs.google.com/spreadsheets/d/1rsXvZVzY7A1krxO0N07BgDRgERiqUHP6Wvcd_wqbJnw/edit#gid=0">Click to learn<br></a></h5>
    <h5 class='lineUp'>  Java 8  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href ="https://docs.google.com/spreadsheets/d/1rsXvZVzY7A1krxO0N07BgDRgERiqUHP6Wvcd_wqbJnw/edit#gid=0">Click to learn<br></a></h5>
    <h5 class='lineUp'>Soap API &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href ="https://docs.google.com/spreadsheets/d/1rsXvZVzY7A1krxO0N07BgDRgERiqUHP6Wvcd_wqbJnw/edit#gid=0">Click to learn<br></a></h5>
    <h5 class='lineUp'>kafka &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href ="https://docs.google.com/spreadsheets/d/1rsXvZVzY7A1krxO0N07BgDRgERiqUHP6Wvcd_wqbJnw/edit#gid=0">Click to learn<br></a></h5>


<div class="vl">

  <h5 class='lineUp'><a href ="https://www.linkedin.com/learning/spring-5-0-and-spring-boot-2-0-new-features?u=2111049">Click to learn<br></a> </h5>

</div>
    
  </div>
  
</mat-card>

  </div>