<div class="tech">
    <br><br><br>
    <h1>TECHNOLOGIES</h1>
  <!-- <P>
    1.dfh<br>
    2.sdhdth<br>
    3.rgerg<br>
  </P> -->
  <div class="line">
    
    <h2 class='lineUp'> Java 1.8<br></h2>
    <h2 class='lineUp'> Spring webflux <br></h2>

    <h2 class='lineUp'>  Spring cloud <br></h2>
    <h2 class='lineUp'> Spring boot <br></h2>
    <h2 class='lineUp'>JPA<br></h2>
    <h2 class='lineUp'> Kafka <br></h2>
    <h2 class='lineUp'> Mongo DB<br></h2>
    <h2 class='lineUp'>MySQL<br></h2>
    <h2 class='lineUp'>Tomcat<br></h2>
    <h2 class='lineUp'>JUnit<br></h2>
    <h2 class='lineUp'>Mockito<br></h2>

    
  </div>
  </div>
