<!-- <div class="tech">
    <br><br><br>
    <h1>TECHNOLOGIES</h1>

  <div class="line">
    
    <h5 class='lineUp'> Java 1.8 <span style="font-size:15px;"> <a href ="https://www.linkedin.com/learning/spring-5-0-and-spring-boot-2-0-new-features?u=2111049" >Learn more</a> </span><br></h5>
    <h5 class='lineUp'> Spring webflux<span style="font-size:15px;"> <a href ="https://www.linkedin.com/learning/spring-5-0-and-spring-boot-2-0-new-features?u=2111049" >Learn more</a> </span> <br></h5>

    <h5 class='lineUp'>  Spring cloud <span style="font-size:15px;"> <a href ="https://www.linkedin.com/learning/spring-5-0-and-spring-boot-2-0-new-features?u=2111049" >Learn more</a> </span><br></h5>
    <h5 class='lineUp'> Spring boot<span style="font-size:15px;"> <a href ="https://www.linkedin.com/learning/spring-5-0-and-spring-boot-2-0-new-features?u=2111049" >Learn more</a> </span> <br></h5>
    <h5 class='lineUp'>JPA<span style="font-size:15px;"> <a href ="https://www.linkedin.com/learning/spring-5-0-and-spring-boot-2-0-new-features?u=2111049" >Learn more</a> </span><br></h5>
    <h5 class='lineUp'> Kafka <span style="font-size:15px;"> <a href ="https://www.linkedin.com/learning/spring-5-0-and-spring-boot-2-0-new-features?u=2111049" >Learn more</a> </span><br></h5>
    <h5 class='lineUp'> Mongo DB<span style="font-size:15px;"> <a href ="https://www.linkedin.com/learning/spring-5-0-and-spring-boot-2-0-new-features?u=2111049" >Learn more</a> </span><br></h5>
    <h5 class='lineUp'>MySQL<span style="font-size:15px;"> <a href ="https://www.linkedin.com/learning/spring-5-0-and-spring-boot-2-0-new-features?u=2111049" >Learn more</a> </span><br></h5>
    <h5 class='lineUp'>Tomcat<span style="font-size:15px;"> <a href ="https://www.linkedin.com/learning/spring-5-0-and-spring-boot-2-0-new-features?u=2111049" >Learn more</a> </span><br></h5>
    <h5 class='lineUp'>JUnit<span style="font-size:15px;"> <a href ="https://www.linkedin.com/learning/spring-5-0-and-spring-boot-2-0-new-features?u=2111049" >Learn more</a> </span><br></h5>
    <h5 class='lineUp'>Mockito<span style="font-size:15px;"> <a href ="https://www.linkedin.com/learning/spring-5-0-and-spring-boot-2-0-new-features?u=2111049" >Learn more</a> </span><br></h5>
   
  </div> -->
<div class="techee">

  <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
    <div class="flipper">
      <div class="front">
        <span class ="name">FrontEnd</span>
       
     

      </div>
      <div class="back">
        <div class="back-logo"></div>
        <div class="back-title"><br>1.Angular<br>2.React<br>3.javascript<br>1.Angular<br>2.React<br>3.javascript<br>1.Angular<br>2.React<br>3.javascript<br></div>
      </div>
    </div>
  </div>
  
</div>