<div class="tech">
    <br><br><br>
    <h1>TECHNOLOGIES</h1>
  <!-- <P>
    1. Java 11<br>
    2.Spring web flux<br>
    3.Mongo DB<br>
    4.Spring Boot Mockito<br>
    5.Spring Data<br>
    6.Spring AOP<br>(optional, but possibly for error handling)<br>
    7.Junit5<br>
    8.Lombok<br>
    9.Type script<br>
   10.Angular<br>
    11.RXJS<br>
   12.Mocha<br>
  </P> -->
  <div class="line">
    
    <h2 class='lineUp'>  1. Java 11 <br></h2>
    <h2 class='lineUp'>  2.Spring web flux <br></h2>
    <h2 class='lineUp'>  3.Mongo DB <br></h2>
    <h2 class='lineUp'> 4.Spring Boot Mockito <br></h2>
    <h2 class='lineUp'> 5.Spring Data <br></h2>
    <h2 class='lineUp'>  6.Spring AOP<br>(optional, but possibly for error handling)<br></h2>
    <h2 class='lineUp'> 7.Junit5 <br></h2>
    <h2 class='lineUp'>8.Lombok  <br></h2>
    <h2 class='lineUp'> 9.Type script <br></h2>
    <h2 class='lineUp'> 10.Angular <br></h2>
    <h2 class='lineUp'> 11.RXJS <br></h2>
    <h2 class='lineUp'>  12.Mocha <br></h2>
    
    
  </div>
  </div>
