<div class="tech">
    <br><br><br>
    <h1>TECHNOLOGIES</h1>
  <!-- <P>
    1.dfh<br>
    2.sdhdth<br>
    3.rgerg<br>
  </P> -->
  <div class="line">
    
    <h2 class='lineUp'> GitHub<br></h2>
    <h2 class='lineUp'> GitHub Actions <br></h2>
    <h2 class='lineUp'> Jenkins<br></h2>
    <h2 class='lineUp'> Sonarqube <br></h2>
    <h2 class='lineUp'> Artifactory <br></h2>
    <h2 class='lineUp'> Anisble <br></h2>
    <h2 class='lineUp'> Azure<br></h2>
    <h2 class='lineUp'> Docker <br></h2>
    <h2 class='lineUp'> K8s <br></h2>
    <h2 class='lineUp'> Groovy <br></h2>
    <h2 class='lineUp'> Python <br></h2>
    <h2 class='lineUp'> Bash Scripting and Linux <br></h2>
   

   
  </div>
  </div>
