<div class="tech">
    <br><br><br>
    <h1>TECHNOLOGIES</h1>
  <!-- <P>
    1.Java 8<br>
    2. Springboot<br>
    3. Spring Webflux<br>
    4. MongoDB<br>
    5.Spark<br>
    6. Kafka<br>
    7. Azure Databricks<br>
    8.Azure CosmosDB<br>
    9. Azure Log Analytics<br>
    10.PCF <br>
    11.Maven<br>
    12. Git<br>
    13. Junit<br>
    14. Jenkins<br>
  </P> -->
  <div class="line">
    
    <h2 class='lineUp'>1.Java 8  <br></h2>
    <h2 class='lineUp'> 2. Springboot <br></h2>
    <h2 class='lineUp'> 3. Spring Webflux <br></h2>
    <h2 class='lineUp'> 4. MongoDB <br></h2>
    <h2 class='lineUp'> 5.Spark <br></h2>
    <h2 class='lineUp'> 6. Kafka <br></h2>
    <h2 class='lineUp'> 7. Azure Databricks <br></h2>
    <h2 class='lineUp'>  8.Azure CosmosDB <br></h2>
    <h2 class='lineUp'>  9. Azure Log Analytics <br></h2>
    <h2 class='lineUp'>10.PCF  <br></h2>
    <h2 class='lineUp'> 11.Maven <br></h2>
    <h2 class='lineUp'> 12. Git  <br></h2>
    <h2 class='lineUp'>13. Junit  <br></h2>
    <h2 class='lineUp'>  14. Jenkins <br></h2>
    

  </div>
  </div>
