
<div class="catalog">
  <div class="waviy">
    <span style="--i:1">O</span>
    <span style="--i:2">m</span>
    <span style="--i:3">s</span>
    </div>
  <!-- <h1>OMS</h1> -->
  <!-- <mat-card>
    <div class="head">
      <h2>More About Catalogue:</h2>
    </div>
  </mat-card> -->
  <mat-card
    style="
      margin-left: 150px;
      margin-right: 150px;
      height: 50%;
      margin-top: 50px;
    "
  >
    <div class="container text-center">
      <p>
        Developed and Deployed OMS changes (OR, OC) related to Ecomm Promo Code (SC).
Divisions Games (SC & GR) offer request and offer creation functionality is now available in OMS.
Once EDM is live with their code (between the April 4th to 6th 2023) - business will be able to create the Offer Requests and Offers in OMS.
Enhanced capability in OMS to enter NOPA #'s starting with a 6, 7, 8 & 9 (limited to 7 digits total).
EDM: Code fix to ensure that Offer updates (in specific cases identified by the 'Liquor Rewards' issue) make their way to the Offer in stores.
Offer integrity: Teams (OMS, EDM, EPE) continued to huddle to do a POC for the solution to have a dashboard to flag offer integrity issues.
      </p>
    </div>
  </mat-card>
</div>
