
<div class="catalog">
  <div class="waviy">
    <span style="--i:1">a</span>
    <span style="--i:2">c</span>
    <span style="--i:3">u</span>
    <span style="--i:4">p</span>
    <span style="--i:5" >i</span>
    <span style="--i:6">c</span>
    <span style="--i:7">k</span>
    
   </div>
  <!-- <h1>Acupick</h1> -->
  <!-- <mat-card>
    <div class="head">
      <h2>More About Catalogue:</h2>
    </div>
  </mat-card> -->
  <mat-card
    style="
      margin-left: 150px;
      margin-right: 150px;
      height: 50%;
      margin-top: 50px;
    "
  >
    <div class="container text-center">
      <p>
        Acupick helps in Store management system for picking/packing/Dug and Delivery. This is integrated with DOMS application.
      </p>
    </div>
  </mat-card>
</div>
