
<div class="catalog">
  <div class="waviy">
    <span style="--i:1">g</span>
    <span style="--i:2">a</span>
    <span style="--i:3">m</span>
    <span style="--i:4">i</span>
    <span style="--i:5" >f</span>
    <span style="--i:6">i</span>
    <span style="--i:7">c</span>
    <span style="--i:8">a</span>
    <span style="--i:9">t</span>
    <span style="--i:10">i</span>
    <span style="--i:10">o</span>
    <span style="--i:10">n</span>
  </div>
  <!-- <h1>Gamification</h1> -->
  <!-- <mat-card>
    <div class="head">
      <h2>More About Catalogue:</h2>
    </div>
  </mat-card> -->
  <mat-card
    style="
      margin-left: 150px;
      margin-right: 150px;
      height: 50%;
      margin-top: 50px;
    "
  >
    <div class="container text-center">
      <p>
        Gamification is a national platform that will be leveraged to provide two gaming experiences, 
        always-on (Passport), and pulsed (Fresh Chef).
        An always open experience is created to continuoulsy engage the Customer's post 
        registration and ensure that they are getting value from joining the Client's 
        New Loyalty program throughout the Customer Lifecycle.
        As part of Phase1, Flavour Adventure (Episodic National Games) was introduced 
        which was a new and improved gaming experience to the customers that replaces the 
        existing game Monopoly and will build and sustain Loyalty engagement. 
        The Phase2, involves developing Shop-based programs run by different divisions. 
        These programs are open to select stores/divisions and are often tied to major sporting events. 
        The rules/game mechanics vary per division, but generally involve redemption of points for prizes and sweepstakes. Divisions partner with different vendors to execute these programs for marketing, microsite, and fulfilment needs.
      </p>
    </div>
  </mat-card>
</div>
