
<div class="catalog">
  <div class="waviy">
    <span style="--i:1">O</span>
    <span style="--i:2">s</span>
    <span style="--i:3">p</span>
    <span style="--i:4">g</span>
   </div>
  <!-- <h1>OSPG</h1> -->
  <!-- <mat-card>
    <div class="head">
      <h2>More About Catalogue:</h2>
    </div>
  </mat-card> -->
  <mat-card
    style="
      margin-left: 150px;
      margin-right: 150px;
      height: 50%;
      margin-top: 50px;
    "
  >
    <div class="container text-center">
      <p>
        OSPG services will provide payment services authorize, purchase, refund, void services which will communicate with the vendor JP Morgan's Chase payment gateway for credit card and debit cards, braintree for paypal and acculynk for snap cards.<br><br>
Below Applications are under Payments:<br><br>
Cart and Checkout, VPOS , AR , subscription services will invoke below ospg services.<br>
Tokenization Service: Customers card is tokenized by Chase using tokenization services developed by Payments team<br>
Tokenvault : Customer's cards are saved in tokenvault and retrieved by client applications using our apis like getTender,paymentMethods, saveTender, updateTender, replaceTender, deleteTender<br>
Payments: Client applications call apis like auth, purchase, void and refund developed by our team when order is placed/fulfilled/refund and cancellations<br>
Snap: Government aided EBT Cards have been enabled to use as tender for ECOMM tenders<br>
Paypal: Enabling paypal as tender type for ECOMM orders<br><br>
Accumulator and reprocessor services : When OSPG service or Chase service is down clients and ospg service will insert failed transaction in the accumulator DB and later it will re process it.
ospg payments braintree : This service will invoke braintree apis for paypal payments.
      </p>
    </div>
  </mat-card>
</div>