
<div class="catalog">
  <div class="waviy">
    <span style="--i:1">d</span>
    <span style="--i:2">o</span>
    <span style="--i:3">m</span>
    <span style="--i:4">s</span>
    </div>
  <!-- <h1>DOMS</h1> -->
  <!-- <mat-card>
    <div class="head">
      <h2>More About Catalogue:</h2>
    </div>
  </mat-card> -->
  <mat-card
    style="
      margin-left: 150px;
      margin-right: 150px;
      height: 50%;
      margin-top: 50px;
    "
  >
    <div class="container text-center">
      <p>
        A solution to empower retailers to attain profitable online growth by leveraging automation at a hyperlocal scale.
        DOMS helps in processing all orders that were initiated through shop cart.
      </p>
    </div>
  </mat-card>
</div>
