
<div class="catalog">
  <div class="waviy">
    <span style="--i:1">s</span>
    <span style="--i:2">n</span>
    <span style="--i:3">s</span>
  </div>
  <!-- <h1>Schedule & Save (sns)</h1> -->
  <!-- <mat-card>
    <div class="head">
      <h2>More About Catalogue:</h2>
    </div>
  </mat-card> -->
  <mat-card
    style="
      margin-left: 150px;
      margin-right: 150px;
      height: 50%;
      margin-top: 50px;
    "
  >
    <div class="container text-center">
      <p>
        Schedule & Save offers customers an easy way to automate their weekly shopping. 
        By allowing customers to schedule delivery or pickup for their full grocery basket, we are able to provide a 
        differentiated experience that will lock in recurring purchases and increase customer loyalty. Customers will 
        receive a 5% discount on Schedule and Save items to receive the best price available at time of fulfillment, as 
        well as the best chance of in-stock products. The program will drive sales growth while bringing convenience and 
        savings to our customers. This will be a feature made available to all customers, first expanded to all divisions on web,
        then deployed on UMA, and finally marketed in stores. We are partnering with vendor, Replenium, and a number of our product
         teams to achieve the end-to-end customer experience and business benefits.
        Schedule & Save is an easy and convenient way for you to manage and receive your most frequently used products at a lower 
        price on a regularly scheduled cadence. With Schedule & Save, you can select the timing and frequency of your pickup or 
        delivery and cancel or reactivate individual items at your convenience.We know life can get a bit busy, so we'll 
        also send you reminders ahead of your upcoming orders to give you plenty of time to make any adjustments. 
        You can add items to your order until the day before it’s processed, and include non-scheduled items with your order.
      </p>
    </div>
  </mat-card>
</div>
