@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

h1 {
    text-align: center;
    font-size: 40px;
    padding-top: 50px;
    /* margin-top: 60px; */
    color:white;

  }
  p {
    font-size: 20px;
    text-align: justify;
    margin-top: 50px;
    /* color: darkslateblue;
     */
     color:navy;
     margin-left: 30px;
     margin-right: 30px;
  }
  .head {
    text-align: center;
  }
  .catalog {
    /* background-color: aliceblue; */
    background-color: #00416D;

    height: 130%;
    margin-top: -15px;
  }
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    margin-top: 20px;
  }
  
  body {
     background-color:  #151719;
     
    
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  .waviy {
    position: relative;
    -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
    font-size: 60px;
    text-align: center;
    font-size: 40px;
    padding-top: 50px;
  }
  .waviy span {
    font-family: 'Alfa Slab One', cursive;
    position: relative;
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    animation: waviy 1s ;
    animation-delay: calc(.1s * var(--i));
    
  }
  @keyframes waviy {
    0%,40%,100% {
      transform: translateY(0)
    }
    20% {
      transform: translateY(-20px)
    }
  }