<div class="tech">
    <br><br><br>
    <h1>TECHNOLOGIES</h1>
  <!-- <P>
    Backend:<br>
    1.Java (8/11/17)<br>
    2.Sring, spring boot, spring webflux, Spring batch, Spring Cloud<br>
    3.Cassandra<br>
    4.Reactive Kafka<br>
    5.Reactive Web client<br>
    6.Junit, Mockito, Sonar, Jacoco<br>
    7.Lombok, Mapstruct<br>
    8.Swagger<br><br><br>
    
    Tools:<br>
    1.Intellij<br>
    2.Devcenter(Cassandra DB)<br>
    3.Offset Explorer(Kafka)<br>
    4.Postman<br>
    5. Putty<br>
    6. WinSCP<br>
    7. Pulse Secure (VPN connection)<br>
    8.Github<br><br><br>
    
    Data Engineering:<br>
    1.Hadoop : storage<br>
    2.Spark / Scala : processing (only batch jobs are running. no streaming)<br>
    3.Shell Script : automation<br>
   4. Cassandra (Datastax) : Data base<br>
    5.Snowflake : Data Warehouse<br>
    6.Kafka : Message Broker (only batch jobs are running. no streaming)<br>
    7.crontab: scheduling<br>
    8.YARN UI/ Spark UI : Job monitoring<br>
    9.Snowflake Web Access : For development<br>
    10.Databricks : (Spark Scala)<br>
    11.Azure Services : HDInsights, Azure Keyvaults, Blob storage, Azure SQL<br>
  </P> -->
  <div class="line">
    
    <h2 class='lineUp'> Backend:  <br></h2>
    <h2 class='lineUp'>  1.Java (8/11/17) <br></h2>
    <h2 class='lineUp'> 2.Sring, spring boot, spring webflux, Spring batch, Spring Cloud <br></h2>
    <h2 class='lineUp'>3.Cassandra  <br></h2>
    <h2 class='lineUp'> 4.Reactive Kafka <br></h2>
    <h2 class='lineUp'> 5.Reactive Web client  <br></h2>
    <h2 class='lineUp'> 6.Junit, Mockito, Sonar, Jacoco <br></h2>
    <h2 class='lineUp'> 7.Lombok, Mapstruct <br></h2>
    <h2 class='lineUp'> 8.Swagger <br></h2><br><br>
    <h2 class='lineUp'>  Tools: <br></h2>
    <h2 class='lineUp'> 1.Intellij <br></h2>
    <h2 class='lineUp'>2.Devcenter(Cassandra DB)  <br></h2>
    <h2 class='lineUp'>3.Offset Explorer(Kafka)  <br></h2>
    <h2 class='lineUp'>  4.Postman <br></h2>
    <h2 class='lineUp'>5. Putty  <br></h2>
    <h2 class='lineUp'>6. WinSCP  <br></h2>
    <h2 class='lineUp'> 7. Pulse Secure (VPN connection) <br></h2>
    <h2 class='lineUp'>  8.Github <br></h2><br><br>
    <h2 class='lineUp'>  Data Engineering: <br></h2>
    <h2 class='lineUp'> 1.Hadoop : storage <br></h2>
    <h2 class='lineUp'> 2.Spark / Scala : processing (only batch jobs are running. no streaming) <br></h2>
    <h2 class='lineUp'>  3.Shell Script : automation <br></h2>
    <h2 class='lineUp'>  4. Cassandra (Datastax) : Data base <br></h2>
    <h2 class='lineUp'> 5.Snowflake : Data Warehouse <br></h2>
    <h2 class='lineUp'>6.Kafka : Message Broker (only batch jobs are running. no streaming)  <br></h2>
    <h2 class='lineUp'>  7.crontab: scheduling <br></h2>
    <h2 class='lineUp'>  8.YARN UI/ Spark UI : Job monitoring <br></h2>
    <h2 class='lineUp'> 9.Snowflake Web Access : For development <br></h2>
    <h2 class='lineUp'>10.Databricks : (Spark Scala)  <br></h2>
    <h2 class='lineUp'> 11.Azure Services : HDInsights, Azure Keyvaults, Blob storage, Azure SQL <br></h2>
   

  </div>
  </div>
