
<div class="catalog">
  <div class="waviy">
    <span style="--i:1">c</span>
    <span style="--i:2">a</span>
    <span style="--i:3">t</span>
    <span style="--i:4">a</span>
    <span style="--i:5" >l</span>
    <span style="--i:6">o</span>
    <span style="--i:7">g</span>
    <span style="--i:8">-</span>
    <span style="--i:9">m</span>
    <span style="--i:10">a</span>
    <span style="--i:11">r</span>
    <span style="--i:12">k</span>
    <span style="--i:13">e</span>
    <span style="--i:14">t </span>
    <span style="--i:15">p </span>
    <span style="--i:16"> l</span>
    <span style="--i:17">a </span>
    <span style="--i:18"> c</span>
    <span style="--i:19">e</span> 
   </div>
  <!-- <h1>Catalog-Marketplace</h1> -->
  <!-- <mat-card>
    <div class="head">
      <h2>More About Catalogue:</h2>
    </div>
  </mat-card> -->
  <mat-card
    style="
      margin-left: 150px;
      margin-right: 150px;
      height: 50%;
      margin-top: 50px;
    "
  >
    <div class="container text-center">
      <p>
        Catalog is a service API for downstream systems which helps to provide real time product and price updates to the customers online and direct integration with data providers will decrease the time to onboard item online. It has three PODs, namely Mater Catalog, Inventory and Pricing & Promotions.
        Marketplace, richness are the initiatives under catalog.
      </p>
    </div>
  </mat-card>
</div>

