
<div class="catalog">
  <div class="waviy">
    <span style="--i:1">p</span>
    <span style="--i:2">h</span>
    <span style="--i:3">a</span>
    <span style="--i:4">r</span>
    <span style="--i:5">m</span>
    <span style="--i:6">a</span>
    <span style="--i:7">c</span>
    <span style="--i:8">y</span>

   </div>
  <!-- <h1>Pharmacy</h1> -->
  <!-- <mat-card>
    <div class="head">
      <h2>More About Catalogue:</h2>
    </div>
  </mat-card> -->
  <mat-card
    style="
      margin-left: 150px;
      margin-right: 150px;
      height: 50%;
      margin-top: 50px;
    "
  >
    <div class="container text-center">
      <p>
        Pharmacy app is used schedule vaccination all over the US. Various types of vaccinations can be scheduled from the application such as Covid-19 tetanus shingles measles etc.
        In addition to this we are adding travel vaccine.
      </p>
    </div>
  </mat-card>
</div>
