<div class="tech">
    <br><br><br>
    <h1>TECHNOLOGIES</h1>
  <!-- <P>
    1. Java 8<br>
    2.Springboot<br>
    3.WebFlux<br>
    4.Kafka<br>
    5.Spark<br>
    6.Azure Cosmos(mongoDB)<br>
    7.Azure databricks<br>
    8.Maven<br>
  </P> -->
  <div class="line">
    
    <h2 class='lineUp'> 1. Java 8 <br></h2>
    <h2 class='lineUp'> 2.Springboot <br></h2>
    <h2 class='lineUp'> 3.WebFlux <br></h2>
    <h2 class='lineUp'>  4.Kafka <br></h2>
    <h2 class='lineUp'> 5.Spark  <br></h2>
    <h2 class='lineUp'>6.Azure Cosmos(mongoDB)  <br></h2>
    <h2 class='lineUp'> 7.Azure databricks <br></h2>
    <h2 class='lineUp'> 8.Maven <br></h2>

  </div>
