<div class="tech">
    <br><br><br>
    <h1>TECHNOLOGIES</h1>
  <!-- <P>
    1.dfh<br>
    2.sdhdth<br>
    3.rgerg<br>
  </P> -->
  <div class="line">
    
    <h2 class='lineUp'>Java8  <br></h2>
    <h2 class='lineUp'>spring boot  <br></h2>

    <h2 class='lineUp'>graphQL  <br></h2>

    <h2 class='lineUp'>JPA <br></h2>
    <h2 class='lineUp'>KAFKA<br></h2>
    <h2 class='lineUp'>REST API  <br></h2>
    <h2 class='lineUp'>DATA BRICKS <br></h2>
    <h2 class='lineUp'>MS SQL<br></h2>
    <h2 class='lineUp'> SPARK <br></h2>
    <h2 class='lineUp'>Snow flake <br></h2>

  </div>
  </div>
