<div class="tech">
    <br><br><br>
    <!-- <h1>TECHNOLOGIES</h1> -->
  <!-- <P>
    1.dfh<br>
    2.sdhdth<br>
    3.rgerg<br>
  </P> -->
  <div class="line">
    <div class="one">
    <h2 class='lineUp'>BackEnd <br></h2>
    
    <h5 class='lineUp'> <a href="" class="a">spring boot  <br></a></h5>

    <h5 class='lineUp'>graphQL  <br></h5>

    <h5 class='lineUp'>JPA <br></h5>
    <h5 class='lineUp'>Kafka<br></h5>
    <h5 class='lineUp'>REST API  <br></h5>
    <h5 class='lineUp'>MS SQL<br></h5>
  </div>


  <div class="one">
    <h2 class='lineUp'>Data Analytics  <br></h2>
    <h5 class='lineUp'>Data Bricks <br></h5>
    <h5 class='lineUp'> Spark <br></h5>
    <h5 class='lineUp'>Snow flake <br></h5>
   
  </div>
  
  
  </div>
  </div>



